.App {
  text-align: center;
  font-family: 'Open Sans';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.create-inline {
    display: inline;
}

.slot {
    border: none;
    background: white;
}

/*.textInput {*/
    /*background-color: transparent;*/
    /*border: none;*/
    /*transition: .2s;*/
    /*margin: 0;*/
    /*font-size: 16px;*/
    /*outline: none;*/
    /*line-height: 0.8;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*width: 100%;*/
    /*border-radius: 2px;*/
    /*line-height: 2em;*/
/*}*/

.textInput {
    background-color: transparent;
    border: none;
    transition: .2s;
    width: 100% !important;
    display: table !important;
    border-radius: 4px !important;
    font-size: 14px!important;
}

.fixedTextInput {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 1px 4px !important;
    height: 48px !important;
    transition: box-shadow 200ms ease-in 0s !important;
    border: 1px solid #EBEBEB;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 14px;
    padding: 0.8em;
    width: calc(100% - 48px);
    display: table-cell;
    vertical-align: middle;
    border-left: none;
    padding-left: 10px;
}

.searchIcon {
     vertical-align: middle;
     display: inline-block;
     box-shadow: rgba(0, 0, 0, 0.1) 2px 1px 4px !important;
     height: 48px !important;
     transition: box-shadow 200ms ease-in 0s !important;
     border: 1px solid #EBEBEB;
     border-bottom-left-radius: 4px;
     border-top-left-radius: 4px;
     font-size: 16px;
     padding-top: 0.8em;
     padding-bottom: 0.8em;
     padding-left: 0.8em;
     font-weight: 700;
     border-right: none;
     background-color: white;
     color:black;
 }

.search-input {
    font-size: 16px;
    color: #222222!important;
    font-weight: 700;
    width: 75%;
}

.homepageIcon {
    vertical-align: middle;
    display: inline-block;
    height: 48px !important;
    transition: box-shadow 200ms ease-in 0s !important;
    border: 1px solid #EBEBEB;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 16px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 0.8em;
    font-weight: 700;
    border-right: none;
    background-color: white;
    color:black;
    width: 48px;
}


.inputLabel {
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
}

.homepageInputs {
    box-shadow: none!important;
}

/*.searchIconExtended {*/
    /*box-shadow: none!important;*/
    /*border-bottom-left-radius: 0px!important;*/
/*}*/

/*.homepageLocInput {*/
    /*background-color: rgb(255, 255, 255) !important;*/
    /*height: 48px !important;*/
    /*transition: box-shadow 200ms ease-in 0s !important;*/
    /*border: 1px solid #EBEBEB;*/
    /*border-bottom-right-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
    /*font-size: 16px;*/
    /*padding: 0.8em;*/
    /*font-weight: 700;*/
    /*width: 75%;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*border-left: none;*/
    /*padding-left: 10px;*/
/*}*/

/*.homepageLocInput.extended {*/
    /*border-bottom-right-radius: 0px!important;*/
/*}*/

.content-parent-div {
    background-color: white;
}

.submitButton {
    background-color: #5fcf80;
    border: solid 2px #5fcf80;
}

.datePickerWrapper {
    text-align: center;
}

.textInputLeft {
    border: 1px solid #EBEBEB;
}
form {
    background-color: white;
    color: #656565;
    border-radius: 4px;
    padding: 2em;
    margin: auto;
    box-shadow: 0 12px 25px rgba(0,0,0,0.4) !important;
    text-align: left;
    font-weight: 700!important;
    width: 438px;
}

form h3 {
    font-weight: 700!important;
    padding-bottom: 1em;
    color: #18292e;
}




.events-half {
    margin: 10px;
}

.go-btn {
    background-color: #2CC185!important;
    color: white;
    font-weight: bold!important;
    border-radius: 0px!important;
    padding: 10px!important;
}

.search-btn {
    margin-top: 1em;
    text-align: right;
}

.search-btn input {
    width: 100%;
    padding: 0.4rem 1rem;
}

.search-btn button {
    background-color: #0066d2!important;
    height: 100%;
    font-size: 14px;
    font-family: "Open Sans";
    border-radius: 4px;
    font-weight: 700;
    padding: 1em 2em;
}
.inputContainers {
    font-family: 'Open Sans'!important;
    margin-bottom: 10px;
}

/*.inputContainers h6 {*/
    /*font-weight: 700;*/
    /*font-size: 14px !important;*/
/*}*/

.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
}
.options{
    width: 100%;
    margin-top: 20px;
    display: grid!important;
    grid-template-columns: 1fr 2fr;
    /* grid-gap: 20px; */
    text-align: left;
}

.filter {
    text-align: right;
}

.results {
    text-align: center;
    width: 100%;
}

.results p {
    margin-bottom: 0;
}

.results a {
    font-weight: normal;
    color: white;
}
.results a:hover {
    color: white;
}

.hidden {
    display: none !important;
}

.options {
    padding: 0;
}
.options li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

.itinContainer {
    font-size: 1.2rem;
}

td {
    padding: 10px 8px;
    font-size: 0.9em;
    border-bottom: 1px solid #f1f1f1;
}

.mapsfix {
    padding: 0px!important;
}

.marginRowFix {
    margin: 0px!important;;
}

table {
    margin-top: 25px;
    /* word-break: break-all; */
    margin: auto;
    width: 95%;
}
th {
    padding: 25px 10px 10px 10px;
}
tbody {
    transition: background-color 0.3s ease;
}

tbody:hover {
    background-color: rgba(247, 247, 247, 0.95);
}
.totalCost {
    font-size: 1.4rem;
}

.plane-icon {
    margin-right: 8px;
}

/*.inputsRow {*/
    /*padding: 0px;*/
    /*margin: auto!important;*/
    /*display: grid;*/
    /*grid-template-columns: repeat(5, 1fr);*/
    /*grid-gap: 20px;*/
    /*color: #484848!important;*/
/*}*/

.loader {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0,102,210, 1);
    z-index: 200;
    text-align: center;
}

.loader div:first-child {
    position: absolute;
    top: calc(25% - 50px);
    left: calc(50% - 85px);
}

.loader h5 {
    color: white;
    margin-top: 50px;
    font-weight: 700;
}

#nav-tab {
    width: 90%;
    text-transform: uppercase;
    margin: auto;
    max-width: 1300px;
}

#nav-tabContent {
    width: 90%;
    margin: auto;
    max-width: 1300px;
}

.nav-tabs .nav-link {
    border: none!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.9)!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: white!important;
    border-bottom: 5px solid #2CC185!important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23)
}

.nav-tabs .nav-link {
    color: #495057!important;
}

.origin-logo {
    width: 100%;
    max-width: 30px;
    /* min-width: 50px; */
}

.optionInputs {
    display: inherit;
    width: 50%;
    margin: auto;
}

.optionSelect {
    background-color: white;
    border: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin: 0;
    padding: 0.6em;
    outline: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    width: 60px;
    justify-self: end;
}

.addIcon {
    font-size: 26px;
    justify-self: start;
}

.addIcon button {
    border: none;
    width: 60px;
    color: #878787;
    background-color: white;
    cursor: pointer;
}

.addIcon button:focus, input:focus {
    outline: none!important;
}

.eventName {
    padding-right: 0px!important;
}

.addEventForm {
    margin-bottom: 1rem;
    display: grid!important;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.block {
    display: block!important;
    margin: auto;
}
.moreInfoButton {
    margin-top: 12px;
    padding: .2rem .5rem!important;
    font-size: .65rem!important;
}
*:focus {
    outline: none!important;
}
.moreInfoRow {
    border-bottom: 1px solid #f3f1f1;
}

.resultsName {
    max-width: 450px;
    text-align: left;
    display: grid;
    /* grid-template-columns: 1fr 4fr; */
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
}

.resultsName a {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 700;
}

.resultsImgContainer {
    width: 100%;
    height: 125px;
    overflow: hidden;
    /* margin: 10px; */
    /*margin-top: 10px;*/
    position: relative;
}
.resultsImgContainer img {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -150%;
    bottom: -100%;
}

.greeting {
    margin-top: 60px;
    color: #cbcbcb;
    font-size: 3em;
}

.greeting img {
    width: 20%;
    opacity: 0.2;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.moreInfoTable {
    text-align: left;
}

.moreInfoThumbnail {
    width: 100%;
}

.fade.in {
    opacity: 1!important;
}

.modal-backdrop.fade.in {
    opacity: 0.5!important;
}


img{
    max-width: 100%;
}

.costStr {
    text-align: left;
}

.cost  {
    text-align: right;
}

.lock_checkbox, .elim_checkbox, .up_button, .down_button {
    display: none;
    cursor: pointer;
}

.lock {
    max-width: 25px;
    cursor: pointer;
}

.elim {
    max-width: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.filterDesc  {
    font-size: .75rem;
}

.itinGoBtn {
    float: right;
    /* width: 100%; */
}
.timeInput {
    background-color: white;
    border: none;
    transition: .2s;
    margin: 0;
    font-size: 16px;
    padding: 0.5rem;
    outline: none;
    line-height: 0.8;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    border-radius: 2px;
}

.message {
    font-size: .5em;
    text-align: right;
}

.edit-cost-cont {
    display: grid;
    align-items: center;
    /* grid-gap: 5px;
    margin: 0 10px; */
    /* grid-template-columns: 10fr 1fr; */
}

.edit-cost-cont span {
    justify-self: end;
}

.edit-cost {
    width: 20%;
    border-left: #ececec;
}

.edit-cost-cont input {
    font-size: 1em;
}

.singleApiResult {
    width: 95%;
}

.ApiDataDisplay {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
}

/* for react-simple-dropdown package*/
.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}
/*  end for react-simple-dropdown package*/



.modal-dialog {
    width: 600px;
    margin: 6rem auto!important;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.sendEmail {
    float: left;
}

.sendEmail input {
    background-color: #551A8B!important;
    border: none;
}


.footer {
    border: 10px;
    font-size: 12px;
    padding-bottom: 2em;
    background-color: white;
}

.toolbar {
    padding: 0px!important;
}

.apidata {
    padding-bottom: 2em;
}

.modal-body {
    display: grid;
    grid-gap: 0.5em;
}

.modal-body input {
    text-align: center;
}

.email-loader {
    text-align: center;
}

.email-loader > div {
    margin: auto;
    margin-top: 20px;
}

.email-loader h6 {
    margin-top: 20px;
}

.singleResultImg {
    height: 200px;
    width: 50%;
    max-width: 200px;
    margin: auto;
}

.filterGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.filters-div {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 15px;
    padding: 1.5em 2.1em;
    max-width: 1080px;
}

.filters-div > button {
    min-width: 100px;
    max-width: 120px;
}


.activeStatebtn {
    background-color: #3f51b5!important;
    color: white!important;
}


#startTime > div, #endTime > div {
    margin-bottom: 10px!important;
}

.apiBtn {
    width: 100%;
}


.eventsCont {
    margin: 0!important;
}

.itinHeader {
    width: 100%; /*70%*/
    max-width: 740px;
    min-width: 620px;
    font-size: 2.1em;
    padding-bottom: 1.5rem;
    /* padding-left: 100px; */
    text-align: left;
}

.itinEvents {
    display: grid;
    /* grid-gap: 2em; */
    width: 100%; /*70%*/
    margin-left: 1%;
    margin-right: auto;
    max-width: 800px;
    min-width: 620px;
    padding-right: 8rem;
    /* dotted line for left side of itinerary */
    padding-left: 1.5rem;
    border-left: 4px dotted #3f51b5;
}

.itinFooter {
    width:100%;
    margin: auto;
    max-width: 800px;
    min-width: 620px;
}

.itinRowContent {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1.5em;
  padding-bottom: .1em;
  display: inline-flex;
  /* max-height: 220px;*/
  /*height: 10.25em;*/ /* consistent with showActions before height*/
  overflow-y: hidden;
}

.itinRowContent::after { /* circle and number left of the itinerary item */
    width: 23px;
    height: 23px;
    margin-left: -7.675rem;
    margin-top: 3px;
    background-color: #ffffff;
    position: absolute;
    z-index: 3;
    content: attr(data-number);
    display: block;
    color: #3f51b5;
    text-align: center;
    border: 1px solid #3f51b5;
    border-radius: 12px;
    transition: all .25s linear;
}

.EditCostHelperText {
    font-size: .6em;
    color: #878787;
    text-align: left;
}

.itinShortDesc {
    font-size: .6em;
}

.itinEventCol1 img {
    object-fit: cover;
}

.itinEventCol1 {
  -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}


.itinEventCol3 {
  -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.itinEventCol4 {
  -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: -1em 0;
    /* border-left: 1px solid #ececec!important; */
    margin-left: 1em;
}

.justify {
    justify-self: start;
}

/*.mapAndResultsActions {*/
     /*display: flex;*/
     /*justify-content: center;*/
     /*padding: .5em;*/
 /*}*/

.actions {
    /* position: relative; */
    position: absolute; 
    right: -11px;
    top: -29px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin-right: -10px;
    /* margin: 0 10px; */
}


.actions button {
    margin: 10px 0;
}

.lock-button {
    background-color: #fff!important;
    border-radius: 50%!important;
    border: 1px solid #354e72!important;
    min-width: 0px!important;
    padding-right: 6px!important;
    padding-left: 6px!important;
    padding-top: 3px!important;
    padding-bottom: 3px!important;
    box-shadow: none!important;
    color: #354e72!important;
}

.elim-button {
    background-color: #fff!important;
    border-radius: 50%!important;
    border: 1px solid #354e72!important;
    min-width: 0px!important;
    padding-right: 6px!important;
    padding-left: 6px!important;
    padding-top: 3px!important;
    padding-bottom: 3px!important;
    box-shadow: none!important;
    color: #354e72!important;
}


.timeDifferenceDiv {
    position: relative;
    left: -1em;
    float: left;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: .75em;
    color: #878787;
}

.itinCardContainerDiv { /* itineraryCard encapsulating div class*/
    display:flex;
}

.itineraryLeftLine {
    position: relative;
    font-size: 0px;
    border-left: 4px solid #3f51b5;
    right: 28px;
}

.itinTimeInfoLeftLine {
    position: relative;
    margin: auto;
    padding-right: 1em;
    width: 100px;
    max-width:3.5em;
    overflow: hidden;
    justify-content: space-between;
    color:  #354e72
}


.showActions { /* itinerary card class*/
    overflow: visible!important;
    color: #666!important;
    transition: all .25s linear;
    /*box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);*/
    /*border-radius: 3px!important;*/
    position: relative; /* added for the actions class so that the buttons can use position: absolute and be placed "outside" of the showActions div*/
    border: 1px solid #354e72 !important;
    width:100%;
}


.costPanel label {
    margin-bottom: 0px!important;
}

.showActions:hover {
    box-shadow: -3px 6px 17px 0px rgba(0,0,0,0.4);
}

.actionsBtn {
    background-color: #fff!important;
}
.actonsBtn label {
    margin: 0;
}

.align {
    align-self: center;
}

.itineraryCardBottomDiv {
    padding-top:.75em
}

.distanceFromLastDiv {
        display: inline-flex;
        float: left;
        font-size: .6em;
        padding-left: 2.5em; /*this number is equal to 1.5em (the itinRowContent padding) divided by this class's font size */
}
.justify-end {
    float: right;
    padding-right: .5em;
    padding-bottom: .5em;
}

.costPanel {
    padding: 1em;
}

.descBtn {
    margin-top: 1em!important;
    /* margin-left: -5px!important; */
    font-size: .7em!important;
    padding: 4px 8px!important;
    min-height: 0px!important;
}

.boldIt {
    font-family: 'Open Sans';
    font-weight: 500;
}

.displayInline {
    display: inline;
}

.takeSpace {
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin-bottom:-.25rem;
}

.banner {
    flex-grow: 1;
    padding: 1em 1.5em;
}

.fixedBanner {
    height: 80px !important;
    text-align: left;
    position: fixed;
    z-index: 99999;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #ececec;
}

header {
    background-color: transparent!important;
    box-shadow: none!important;
    padding-bottom: 1.5em;
}

header::before {
    /* background-image: url('./images/banner.jpg'); */
    background-size: cover;
    background-position: 0px -100px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 1.6;
}
.headerText {
    padding-bottom: 6em;
}

.headerText h1 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 0.7;
    /*color: #212529;*/
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans";
}

.misc-params {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: transparent;
}

.topNavBar {
    text-transform: uppercase;
    font-size: 1.8em;
    text-align: left;
    display: inline;
}
.nav-bar-logo {
    font-weight: 700;
}

.MuiToolbar-gutters-49 {
    padding: 0px !important;
}

.fixedNav {
    background-color: white;
}

.footer ul {
    text-decoration: none;
    list-style: none;
    text-align: left;
    margin: auto;
    width: 100%;
    font-size: 12px;
}
.footer ul > li:first-child {
    margin-bottom: 1em;
}
.footer-2 li:nth-child(3), .footer-2 li:nth-child(4) {
    padding-bottom: 10px;
}

.footer img {
    max-width: 50%;
}

.yelp-item img {
    margin-top: 8px;
    max-width: 42%;
}
.hover-item {
    transition: 500ms;
}
.hover-item:hover {
    transform: scale(1.2);
}

.footer li {
    font-size: 1.2em;
}

.social-icons li {
    display: inline-block;
    margin-right: 1em!important;
}

.social-icons img {
    max-width: 22px;
}

.mb-2 {
    margin-bottom: 0px!important;
}

.mapAndResultsDiv {
    position: fixed;
    top: 500px;
    width: calc(100% / 3);
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.main {
    width: calc(100%/ (7/12));
    height: 100vh;
}

.sidebar {
    width: calc(100%/ (5/12));
    height: 50vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.mapAndResults {
    height: 100vh;
    overflow-y: auto;
}